html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

body.grey {
    background: rgba(92, 88, 88, 0.6);
}

h1 {
  font-size: 36px;
  margin: 40px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

ul {
  position: relative;
  list-style: none;
}

ul:after {
  content: "";
  display: block;
  clear: both;
}

li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.score-block {
  margin-right: 40px;
  border: 12px solid #545464;
  float: right;
  width: 250px;
  height: 360px;
  background: url('../images/background.jpg') no-repeat;
  background-size: 250%;
}

.snake-element {
  background: url('../images/snake-skin.jpg');
}

.snake-element.head {
  background-color: black;
}

.apple {
  background: url('../images/apple.jpg') no-repeat;
  background-size: contain;
}

.game {
  width: 800px;
  height: 384px;
  margin: 0 auto 50px;
}

.new-game {
  margin-top: 20px;
  width: 250px;
}

figure {
  border: 12px solid #545464;
  display: inline-block;
  background: url('../images/background-snake.jpg') no-repeat;
  background-size: 160%;
  float: left;
  margin-left: 40px;
  margin-right: 40px;
}

figure:after {
  content: "";
  display: block;
  clear: both;
}

.end-of-game {
  display: none;
}

.end-of-game.visible {
  background-color: white;
  width: 100%;
  height: 180px;
  display: block;
  position: absolute;
  top: 30%;
}

.end-text {
  padding: 30px;
}

.play-again {
  width: 50px;
  height: 50px;
}

.pause-start {
  height: 50px;
  width: 70px;
}
